.shuffle {
    background: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 5%;
    top: 3%;
}

.preview {
    width: 100vw;
    margin-bottom: 60px;
}

.image {
    background: #000;
    height: 350px;
    width: 350px;
    display: grid;
    position: relative;
    margin: auto;
    animation: float 5s ease-in-out infinite;
}

.image .shadow {
    height: 300px;
    width: 300px;
    background: radial-gradient(
        95.24% 100.5% at 2.04% 40.07%,
        rgba(0, 0, 0, 0.1) 0%,
        rgba(0, 0, 0, 0.2) 24.91%,
        rgba(0, 0, 0, 0.3) 40.75%,
        rgba(0, 0, 0, 0.45) 70.96%,
        rgba(0, 0, 0, 0.6) 83.61%,
        rgba(0, 0, 0, 0.85) 93.72%,
        #000000 100%
    );
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.5);
    position: absolute;
    border-radius: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    top: 50%;
    left: 50%;
    mix-blend-mode: overlay;
}

.image .texture {
    height: 300px;
    width: 300px;
    position: absolute;
    transform: translate(-50%, -50%) rotate(-20deg);
    top: 50%;
    left: 50%;
    mix-blend-mode: screen;
}

.image .texture.blurred {
    height: 315px;
    width: 315px;
}

.image .noise {
    height: 300px;
    width: 300px;
    position: absolute;
    border-radius: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    top: 50%;
    left: 50%;
    mix-blend-mode: overlay;
}

.image .noise.blurred {
    height: 315px;
    width: 315px;
}

.image .blur {
    position: absolute;
    top: 0;
    left: 0;
    height: 350px;
    width: 350px;
    backdrop-filter: blur(10px);
}

.image .orb {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    position: absolute;
    transform: translate(-50%, -50%) rotate(90deg);
    top: 50%;
    left: 50%;
}

.image .orb.blurred {
    height: 315px;
    width: 315px;
}

.colors {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(minmax(250px, 1fr), 1fr));
    gap: 10px;
    margin-inline: 20px;
}

.colors .color {
    height: 100px;
    width: 100%;
    margin: auto;
    display: grid;
    place-items: center;
    text-align: center;
    user-select: none;
    border-radius: 10px;
}

.colors .color:nth-child(7) {
    grid-column-start: auto;
    grid-column-end: span 2;
}

.colors .color input {
    font-size: 1.5rem;
    font-weight: 600;
    width: 150px;
    color: rgba(255, 255, 255, 0.65);
    text-transform: uppercase;
    margin-bottom: 0px;
    border: none;
    background: transparent;
    cursor: pointer;
    outline: none;
    transition: all 0.2s ease-in-out;
    user-select: none;
}

.colors .color input:hover {
    color: rgba(255, 255, 255, 0.87);
}

.colors .color input:focus,
.colors .color input:active {
    outline: none;
    color: rgba(255, 255, 255, 1);
}

.colors .color button {
    background: transparent;
    border: none;
    cursor: pointer;
    width: 20px;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(5px);
    }
    75% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0px);
    }
}
